.confirmation img {
  width: 500px;
  height: 500px;
  margin-top: 500px;
}
.confirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
}
.confirmation .text-h2 {
  text-align: center;
  margin-top: 20px;
}
.confirmation .text-h4 {
  text-align: center;
  margin-top: 20px;
}
.confirmation .title-itemslong {
  text-align: center;
  margin-top: 10px;
}
.contact1 {
  margin-top: 700px;
}
.confirmation1 img {
  margin-top: 700px;
}
.confirmation1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  margin-bottom: 800px;
}
.confirmation1 .text-h2 {
  text-align: center;
  margin-top: 20px;
}
.confirmation1 .text-h4 {
  text-align: center;
  margin-top: 20px;
}
.confirmation1 .title-itemslong {
  text-align: center;
  margin-top: 10px;
}

@media (max-width: 480px) {
  .contact1 {
    margin-top: 700px;
  }
  .confirmation1 .title-itemslong {
    margin-bottom: -300px;
  }
}

@media (max-width: 500px) {
  .confirmation img {
    width: 100%;
    height: auto;
  }
  .confirmation1 img {
    width: 100%;
    height: auto;
  }
  .contact1 {
    margin-top: 800px;
  }
}
