.form-login{
    width: 500px; 
    background-color: #FFFFFF;
    border: 2px solid #b1770b;
    border-radius: 20px;
    margin: auto;
    margin-top: 40px;
    z-index: 10;
    position: relative;
}

.form-login__inputs{
    margin: 0 auto;
    width: 330px;
}

.welcome-message{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 32px;
    
}

.welcome-message .text-h4{
    margin-top:50px;
    font-size: 31px;
    font-weight:bold;
    line-height: 1.2;
    text-align: center;
}




.login-btn{
    background-color: #ffa500;
    color: #ffffff;
    padding: 13px 140px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    font-weight: 100;
    width: 100%;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 48px;
    font-family: "Jura";
    max-width: 330px;
   
}

.redirect-signup{
    display:flex;
    margin-bottom: 32px;
    margin-left: 100px;
    margin-top:25px;
}

.redirect-signup .nav-link {
    color:#FFA500;
    margin-left:4px;
}

@media (max-width: 1380px) {
    .form-login {
        width: 400px;
    }
    .login-btn {
        padding: 13px 120px;
        display: flex;
        justify-content: center;
        margin: 0 0;
    }
}

@media (max-width: 991px) {
    .form-login {
        width: 400px;
    }
    .login-btn {
        padding: 13px 100px;
        display: flex;
        justify-content: center;
        margin: 0 0;
    }
    
}

@media (max-width: 768px) {
    .form-login {
        width: 400px;
    }
    .login-btn {
        padding: 13px 80px;
        display: flex;
        justify-content: center;
        margin: 0 0;
    }
    .redirect-signup {
        margin-left: 60px;
    }
    
}

@media (max-width: 480px) {
    .form-login {
        width: 400px;
    }
    .login-btn {
        padding: 13px 60px;
        display: flex;
        justify-content: center;
        margin: 0 0;

    }
    
    
}
