*,
*::before,
*::after {
    font-family: 'Jura', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-h1{
    font-size: 61px;
    font-weight: 600;
    line-height: 1.2;

}

.text-h2{
    font-size: 49px;
    font-weight:500;
    line-height: 1.2;
    
}
.text-h3{
    font-size: 39px;
    font-weight:500;
    line-height: 1.2;
}

.text-h4{
    font-size: 31px;
    font-weight:400;
    line-height: 1.2;
    margin-bottom:20px;
}


.text-body-copy{
    font-size: 25px;
    font-weight: 400;
    line-height: 1.2;
}

.text-body-copy1{
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
}

.navbar {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #FFA500;
    padding: 10px 0;
    position: relative;
    z-index: 1000;
}

.navbar-container {
    background-color: #FFA500;
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding-left: 8px;
}

.logo {
    font-family: 'Yellowtail', cursive;
    font-size: 48px;
    color: #000000;
    margin-left: 0px;
}
.logo1 {
    font-family: 'Yellowtail', cursive;
    font-size: 48px;
    color: #000000;
    text-align: center;
    margin: auto;
}


.nav-menu .nav-link,
.nav-search .login {
    font-family: 'Jura', sans-serif;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    margin-left: 12px;
    display: inline-block;
    text-align: center;
    padding: 20px 20px;
}

.nav-search {
    display: flex;
    align-items: center;
    
    
}
.search-btn {
    background: url('./assets/icon_search.png')   center no-repeat #f3f3f3;
    border: none;
    padding: 7.1px;
    cursor: pointer;

}
.nav-search input {
    font-size: 16px;
    padding: 10px;
    border: none;
    margin-right: 0;
    background-color: #f3f3f3;
    color: #717171;
    
}


.dropdown .dropbtn {
    background-color:#f3f3f3;
    color: black;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;

}
.dropbtn ::before {
   content: "";
   position: absolute;
   width: 2px;
   height: 18px;
   right: -4px;
   top: 2px;

}
.dropdownbutton-btn {
    background: url('./assets/drop_down_button.png')   center no-repeat #f3f3f3;
    border: none;
    padding: 10.6px;
    cursor: pointer;


}

.signup-btn {
    background-color: #f3f3f3;
    color: #000000;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    margin-left: 10px;
    border-radius: 20px;

}

.nav-menu .nav-link:hover,
.nav-search .login:hover,
.signup-btn:hover {
    text-decoration: underline;
}

.nav-search input:focus {
    outline: 2px solid #000000;
    
}



.button-primary{
    display:inline-block;
    background-color: #FFA500;
    color: #000000;
    border-radius: 20px;
    border: 1px solid #000000  ;
    padding: 9px 12px;
    text-decoration: none;
    font-size: 31px;
    margin-top: 24px ;
    width: 195px;
    height: 56px;
    text-align: center; 
}




.home-header{
    height: 472px;
    position: relative;
    border-radius: 20px;
    overflow:hidden ;
    margin-top: 24px;
}

.home-header__banner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.home-header__banner img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 0;
    border: 1px solid #000000  ;
}

.home-header__content{
    position: relative;
    z-index: 10;
    margin-top:24px;
    margin-left: 24px;
}

.container{
    display: block;
    max-width: 1372px ;
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
    margin-top: 48px;

}
html{
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    position: relative;
    height: 100%;
}


.why-us-category {
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}

.why-us-title {
    display: flex;
    align-items: center; 
}

.why-us-title img {
    margin-right: 10px; 
}

.why-us-body {
    margin-left: 72px; 
}

.why-us{
    border-top: 2px solid orange;
    padding-top: 20px; 
}

.review {
    border-top: 2px solid orange; 
    padding-top: 20px;

}

.review-for {
    display: flex;
    align-items: center;
    margin-bottom: 4px; 
    margin-left: 266px;
    margin-top: 20px;

}


.review-for img {
    height: 24px; 
    width: auto;
    margin-left: 48px;
}


.review-text { 
    padding: 20px;
    margin-bottom: 10px; 
    margin-left: 248px;
}


.review-from {
    display: flex;
    align-items: center; 
    
    margin-left: 776px;
}

.review-from .text-h4 {
    margin-right: 5px;
}

.review-from .text-body-copy {
    font-size: 25px;
    color: #ffa500;
    font-weight: 400;
    margin-left: 8px;
}
.review-link {
    display: flex;
    align-items: center;
    cursor: pointer; 
    margin-top: 80px;
    margin-left:1080px;  
}

.review-link .text-body-copy {
    margin-right: 10px;
    color: #000; 
    font-size: 25px; 
    font-weight: 400;
    text-decoration: underline;
}

.review-link img {
    width: auto; 
    height: 20px;
}



.contact-info {
    border-top: 2px solid orange; 
    padding-top: 20px;
}

.contact-mail,
.contact-phone,
.contact-adress {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact-mail img,
.contact-phone img,
.contact-adress img {
    margin-right: 10px; 
}

.form-login{
    width: 500px; 
    background-color: #FFFFFF;
    border: 2px solid #000;
    margin: auto;
    margin-top: 100px;
    z-index: 10;
    position: relative;
}

.form-login__inputs{
    margin: 0 auto;
    width: 330px;
}

.welcome-message{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 32px;
    
}

.welcome-message .text-h4{
    margin-top:50px;
    font-size: 31px;
    font-weight:bold;
    line-height: 1.2;
    text-align: center;
}


.input-group{
   display: block;
   max-width: 330px;
   width: 100%;

}

.input-group__label{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
}

.input-group__area{
  display: flex;
  border: 1px solid #c6c6c6;
  padding: 10px;
  border-radius: 20px;

}

.input-group__area img{
    width: 24px;
    height: 24px;
    min-width: 24px;
    margin-right: 8px;
}
.input-group__area input{
    width: 100%;
    border: none;
    outline: none;
}





