.myreviews .details-account1 .review-for {
  margin-left: 25px;
}

/* .myreviews .details-account1 .review-for img {
  width: 288px;
  height: 48px;
  margin-top: 0px;
} */
.stars {
  height: 24px;
  width: auto;
  display: flex;
  margin-left: 40px;
}
.stars img {
  margin-right: 12px;
}
.message .stars {
  margin-top: 20px;
  margin-left: 0px;
}
.myreviews .review-text {
  margin-left: 0px;
}

.myreviews .review-from .text-body-copy {
  margin-left: 40px;
  display: flex;
  justify-content: end;
}
.myreviews .details-account1 {
  height: auto;
  margin-bottom: 50px;
  margin-left: 30px;
}

.container-account > :first-child {
  margin-right: 24px;
}
.rating-box {
  display: flex;
}
.rating-box .text-body-copy-bold {
  margin-top: 50px;
  margin-right: 12px;
}

.rating-box .input-group__area {
  width: 100px;
  height: 40px;
}
.rating-box .input-group__area input {
  font-size: 20px;
}

@media (max-width: 990px) {
  .myreviews .details-account1 {
    height: auto;
    margin-bottom: 50px;
    margin-left: 0;
  }
  .myreviews .review-from .text-body-copy {
    font-size: 16px;
  }
  .myreviews .details-account1 .review-for img {
    width: 40%;
    height: auto;
    margin-left: 0;
  }
}
@media (max-width: 1140px) {
  .myreviews {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 1380px) {
  .myreviews .details-account1 {
    height: auto;
    margin-bottom: 50px;
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .myreviews .details-account1 {
    height: auto;
    margin-bottom: 50px;
    margin-left: 0;
  }
  .myreviews .details-account1 .review-for img {
    width: 40%;
    height: auto;
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  .myreviews .details-account1 {
    height: auto;
    margin-bottom: 50px;
    margin-left: 0;
  }

  .myreviews .details-account1 .review-for img {
    width: 40%;
    height: auto;
    margin-left: 0;
  }
  .rating-box {
    flex-direction: column;
  }
  .rating-box .input-group__area {
    margin-top: 0px;
  }
}
