.description .applicants {
  display: flex;
}

.description .applicants .text-body-copy {
  margin-right: -790px;
  margin-bottom: -20px;
}
.description .applicants .review-link {
  margin-top: -10px;
  margin-right: -600px;
}
.description .applicants .text-margin {
  margin-right: -485px;
}
.title-company {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 300px;
  margin-top: -220px;
  margin-left: 60px;
  margin-bottom: -100px;
}
.message-company .text-body-copy {
  color: #976200;
  margin-top: 20px;
  margin-bottom: 20px;
}
.container-contact {
  margin-top: 80px;
  display: block;
  max-width: 87.5rem;
  width: 100%;
  padding: 0 16px;
  margin-left: 50px;
}
.container-contact1 {
  margin-top: 80px;
  display: block;
  max-width: 87.5rem;
  width: 100%;
  padding: 0 16px;
  margin-left: -20px;
}

@media (max-width: 580px) {
  .title-company .text-h4 {
    font-size: 25px;
  }
}
