.description .applicants{
    display: flex;
}

.description .applicants .text-body-copy{
    margin-right: -790px;
    margin-bottom: -20px;
}
.description .applicants .review-link{
    margin-top: -10px;
    margin-right: -600px;
}
.description .applicants .text-margin{
    margin-right: -485px;
}











