.form-signup{
    width: 500px; 
    background-color: #FFFFFF;
    border: 2px solid #b1770b;
    border-radius: 20px;
    margin: auto;
    margin-top: 4px;
    z-index: 10;
    position: relative;
}